@media screen and (max-width: 835px) {
    img {
        display: none
    }
}

body {
    padding-top: 50px;
    padding-bottom: 0px;
    background-color: ghostwhite;
    height: 90vh;
    max-height: 90vh;
}

img {
    position: absolute;
    top: 60px;
    right: 0;
    border-color: transparent;
    opacity: 1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    min-height: 60px;
}

.navbar-header {
    display: block;
    text-align: center;
    padding-top: 20px;
    z-index: -20;
}

.navbar-inverse {
    background-color: blue;
    border-color: transparent;
}

.navbar-inverse::before {
    display: none;
}

.navbar-inverse .navbar-brand {
    border: 2px solid lightblue;
    background-color: blue;
    border-radius: 15px;
    color: gold;
    z-index: 5;
}

.navbar-inverse .navbar-brand:hover {
        color: navajowhite;
        border: 3px solid gold;
        background: midnightblue;
        border-radius: 15px;
}

.counter {
    background-color: lime;
}

.counterred {
    background-color: orangered;
}

#LotCounter {
    border: 2px solid blue;
    margin-top: -93px; 
    margin-left: auto;
    margin-right: 73%;
    border-radius: 15px;
    border-collapse: initial;
    color: floralwhite;
    background: blue;
    z-index: 10000000000;
}

#LotCounter td{
    padding: 8px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: initial;
    font-weight: 700;
    border-radius: 0 13px 13px 0;
    z-index: 101;
}

.searchfield {
    padding-top: 25px;
    text-align: center;
    color: floralwhite;

}

.table {
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    width: 400px;
    max-height: 60vh;
    overflow: auto;
}

#submitbut {
    border-collapse: initial;
    border-radius: 10px;
    margin-left: 60%;
    margin-right: auto;
    margin-top: 2%;
    background: lightgrey;
}

    #submitbut:hover {
        background: grey;
        color: gold;
    }

input {
    border-radius: 1px;
    border: 1px solid lightblue;
    color: floralwhite;
    background: #2d2dff;
}

input:hover {
    border-radius: 3px;
    background: midnightblue;
    border: 1px solid gold;
    color: navajowhite;
}

#option {
    border-radius: 1px;
    border: 1px solid lightblue;
    color: floralwhite;
    background: #2d2dff;
}


button {
    border-radius: 3px;
    background: lightgray;
}

button:hover {
    border-radius: 3px;
    color: gold;
    background: gray;
}

footer {
    position: absolute;
    width: 90%;
    bottom: 5%; /* stick to bottom */
}


