@model GarageWeb.Models.Vehicle

@{
    ViewBag.Title = "Add";
    
}

<h2>Check in vehicle</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @{
           Common.VehicleInfo vh = Common.GatherInfo(ViewBag.Regnr);
           
           string Confirmation = vh.vehicletype + " with regnr " + vh.regnr + " owned by " + " " + vh.persnr;
        }


        <h4>@Confirmation</h4>
        <p>Checking current vehicle?</p>
        <hr />


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
